* {
  background-color: inherit;
}

html {
  background-color: lightgrey;
}

body {
  text-rendering: optimizeLegibility;
}

.top-nav {
  background-color: black;
  color: white;

  /* Rounded ends */
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;

  margin: 1em;
}

.nav-link {
  color: white;
  font-size: large;
}

.header {
  text-align:  center;
}

.content {
  /* Keep a little away from the edges */
  padding:  5%;

  /* Cap line length for legibility, and center on page */
  max-width: 60em;
  margin: auto;
}

.footer {
  background-color: black;
  color: white;

  margin-top: auto;

  /* Round just the top*/
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;

  margin-left: 1em;
  margin-right: 1em;
}

/* I think the underline interferes with legibility of these links. */
.footer a:link {
  text-decoration: none;
}

/* But on hover we want to make sure it's clear that it's a link. */
.footer a:hover {
  text-decoration: underline;
}

.smaller-text {
  font-size: smaller;
}

.flex-page {
  display: flex;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-row-item {
  /* Cap line length, but also don't let it get foolishly short. */
  max-width: 40em;
  min-width: 15em;

  margin: 1em;
}

.flex-row-2-item {
  /* Two item row. Use less than 50% to avoid wrapping when combined with a margin, */
  /* and grow to fill the gap. */
  flex-basis: 40%;
  flex-grow: 1;
}

.flex-row-unlimited-item {
  /* Aim for 3 per row */
  flex-basis: 30%;
  flex-grow: 1;
}

.list-item {
  margin: 1em;
}

.indexed-item-col {
  font-weight: bold;
  min-width: 3em;
}

.centered-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-link {
  color: black;
  font-weight: bold;
}

.more {
  color: black;
  font-style: italic;
}

.meta {
  font-style: italic;
  font-size: x-small;
}

.basic-button {
  background-color: black;
  color: white;

  font-size: medium;

  /* Rounded ends */
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;

  margin: 1em;
}

#partial-comment-formholder {
  width: 90%;
  height: 0px;

  transition-property: height;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
