{{- define "main" -}}
<div class="header">
  <h1>{{.Title}}</h1>
</div>
<div class="content">
  <!-- Pull from content/writing/_index.md -->
  {{.Content}}

  {{ $ctx := .}}
  <div class="flex-row">
    {{ range $pagename := slice .Params.topPick1 .Params.topPick2  }}

      {{ with $ctx.GetPage (print "writing/" $pagename) }}
        <div class="flex-row-item flex-row-2-item">

          <a href="{{ .Permalink }}" class="post-link">{{ .Title }} </a>
          <div>
            {{ .Summary }}
          </div>
          <a href="{{ .Permalink }}" class="more">more...</a>

        </div>
      {{ end }}
    {{ end }}
  </div> <!-- flex-row -->

  <div class="flex-row">
    {{ range .Pages }}
      {{ if (or (eq .File.ContentBaseName $ctx.Params.topPick1) (eq .File.ContentBaseName $ctx.Params.topPick2) ) }}
      {{ else }}
        <div class="flex-row-item flex-row-unlimited-item">

          <a href="{{ .Permalink }}" class="post-link">{{ .Title }} </a>
          <div>
            {{ .Summary }}
          </div>
          <a href="{{ .Permalink }}" class="more">more...</a>

        </div>
      {{ end }}
    {{ end }}
  </div> <!-- flex-row -->
</div>
{{- end -}}
