{{- define "main" -}}
  <div class="header">
    <h1>{{ .Title }}</h1>
    {{ with .Params.subtitle }}
      <h2> {{ . }}</h2>
    {{ end }}
  </div>
  <div class="content">
    <!-- Pull from content/writing/*.md -->
    {{ .Content }}
    <div class="meta">
      Last modified:
      {{ with .GitInfo }}
        {{ .AuthorDate }}
      {{ else }}
        unknown
      {{ end }}
      <p/>
      For full version history, see
      <a href="https://github.com/tedbrandston/tedbrandston.github.io/commits/main/content/{{- .File.Path -}}">github</a>
    </div>
  </div>
{{- end -}}
